#header{
    background-image: url("logo.png");
    background-repeat: no-repeat;
	padding: 10px 0;
	margin-bottom: 0;
}

.container{

	width: 100%;
}

.row{
	width: 100%;
}

#functionflity{
    margin-left: 2em;
}

#technologies{
    margin-left: 2em;
}

#about{
    padding: 1em;
}

.panel > .panel-heading{
    background-color: #b3daff;
}

.panel-title{
    color:#1f497d;
    font-weight: bold;
}

.skills{
    padding: 5px;
}

.job-title{
    background-color: #f5f5f5;
    font-weight: bold;
    font-size: 120%;
}

.univercity{
    font-weight: bold;
    background-color: #f5f5f5;
    font-size: 120%;
}