#header{

	padding: 10px 0;
	margin-bottom: 0;
}

.container{

	width: 100%;
}

.row{
	width: 100%;
}

#functionflity{
    margin-left: 2em;
}

#technologies{
    margin-left: 2em;
}

#about{
    padding: 1em;
}

#resume{

}