#header{

	padding: 10px 0;
	margin-bottom: 0;
}

.container{

	width: 100%;
}

.row{
	width: 100%;
}

#functionflity{
    margin-left: 2em;
}

#technologies{
    margin-left: 2em;
}

#about{
    padding: 1em;
}

.panel-title{
    color:#1f497d;
    font-weight: bold;
}

.skills{
    padding: 5px;
}

.job-title{
    background-color: #b3daff;
    font-weight: bold;
    font-size: 105%;
}

.univercity{
    font-weight: bold;
    background-color: #b3daff;
}