h1 {
	font-family: "Comic Sans MS";

}

#container {
	width: 90%;
	margin: 0 auto;
	min-width: 1000px;
}

.medias-table-body-input{
	background: transparent;
	border: none;
	padding: 0px;
}

.btn{
	margin-bottom: 0px;
	padding: 5px;

}

.grad {
    margin-top: 25px;
    height: 20px;
    color: white;
    background: 2cb5e8; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, 2cb5e8 , white); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, 2cb5e8, white); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, 2cb5e8, white); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #2cb5e8, white); /* Standard syntax (must be last) */
}